body {
    background-color: lightgray;
    border: none
  }
.panel {
    background-color: #ffffff;
    border: none
}
img {
    float: left;
}
.navbar {
    background-color: #041753;
    border: none;
}